body {
    background-color: lightgray;
    font: sans-serif;
}

h1 {
    text-align: center;
}
div {
    text-align: center;
}

.image {
    width: 500px;
    height: auto;
}

a {
    font-size: 30px;
}